<form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)" class="p-4 border">
  <h2 id="bookFormTitle" class="mb-4">Add New Book</h2>

  <div class="mb-3">
    <label for="title" class="form-label"
      >Title <span class="text-danger">*</span></label
    >
    <input
      id="title"
      name="title"
      [(ngModel)]="book.title"
      required
      class="form-control"
      aria-required="true"
    />
    <div *ngIf="bookForm.submitted && !book.title" class="text-danger">
      Title is required.
    </div>
  </div>

  <div class="mb-3">
    <label for="authors" class="form-label">Authors (comma-separated)</label>
    <input
      id="authors"
      name="authors"
      [(ngModel)]="book.authors"
      class="form-control"
    />
  </div>

  <div class="mb-3">
    <label for="publisher" class="form-label"
      >Publisher <span class="text-danger">*</span></label
    >
    <input
      id="publisher"
      name="publisher"
      [(ngModel)]="book.publisher"
      required
      class="form-control"
      aria-required="true"
    />
  </div>

  <div class="mb-3">
    <label for="publishedDate" class="form-label"
      >Published Date <span class="text-danger">*</span></label
    >
    <input
      id="publishedDate"
      name="publishedDate"
      [(ngModel)]="book.publishedDate"
      required
      class="form-control"
      aria-required="true"
    />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label"
      >Description <span class="text-danger">*</span></label
    >
    <textarea
      id="description"
      name="description"
      [(ngModel)]="book.description"
      required
      class="form-control"
      aria-required="true"
    ></textarea>
  </div>

  <div class="mb-3">
    <label for="pageCount" class="form-label"
      >Page Count <span class="text-danger">*</span></label
    >
    <input
      type="number"
      id="pageCount"
      name="pageCount"
      [(ngModel)]="book.pageCount"
      required
      class="form-control"
      aria-required="true"
      min="1"
    />
  </div>

  <div class="mb-3">
    <label for="categories" class="form-label">Categories</label>
    <input
      id="categories"
      name="categories"
      [(ngModel)]="book.categories"
      class="form-control"
    />
  </div>

  <div class="mb-3">
    <label for="thumbnail" class="form-label">Image URL</label>
    <input
      id="thumbnail"
      name="thumbnail"
      [(ngModel)]="book.imageLinks.thumbnail"
      class="form-control"
    />
  </div>

  <div class="mb-3">
    <label for="language" class="form-label"
      >Language <span class="text-danger">*</span></label
    >
    <input
      id="language"
      name="language"
      [(ngModel)]="book.language"
      required
      class="form-control"
      aria-required="true"
    />
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>
